@import url("https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800,900");

:root {
  --accent-primary: #ffb347;
  --accent-primary-lighter: #ffbe62;
  --accent-secondary: rgb(53, 53, 255);
  --accent-tertiary: #003b73;
  --sidebar-width: 360px;
  --shadow: 4px 2px 10px rgb(170, 170, 170);
}

* {
  box-sizing: border-box;
  font-family: Muli;
  font-size: 16px;
  transition: 100ms ease-in-out;
}

body {
  padding: 0;
  margin: 0;
}

.sidebar {
  position: fixed;
  background-color: whitesmoke;
  height: 100vh;
  width: var(--sidebar-width);
  padding: 16px 60px;
}

.sidebar .line {
  height: 2px;
  width: 240px;
  background-color: var(--accent-primary);
}

.content p:first-child {
  margin-bottom: 2px;
  font-size: 2.6em;
  color: var(--accent-tertiary);
}

.content p:nth-child(2) {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.6em;
  color: var(--accent-tertiary);
}

.sidebar .btn-add {
  margin: 0 20%;
  height: 40px;
  width: 140px;
  border-radius: 10px;
  border: 0;
  color: white;
  font-weight: bold;
  background-color: var(--accent-primary);
}

.btn-add:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: var(--accent-primary-lighter);
}

.cont-product {
  height: 100%;
  width: 100%;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: var(--sidebar-width);
}

.cont-product > a {
  text-decoration: none;
  background-color: white;
}

.product {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 380px;
  width: 340px;
}

.cont-product a:nth-child(even) {
  background-color: rgb(233, 233, 233);
}

.cont-product a:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.product-img {
  box-shadow: var(--shadow);
  overflow: hidden;
  height: 160px;
  width: 260px;
  border-radius: 16px;
  margin: 6px;
}

.product-img img {
  height: inherit;
  width: inherit;
}

.cont-desc {
  height: 160px;
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prod-name,
.desc {
  width: inherit;
  max-width: 260px;
  margin: 6px 0;
}

.prod-name {
  border-bottom: 2px solid #ffb347;
  color: var(--accent-tertiary);
  height: 34px;
  font-size: 1.16em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.desc {
  color: gray;
  height: 126px;
  font-size: .8em;
  text-align: justify;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}
